.login-links {
    max-width: 260px;
    display: grid;
    gap: 6px;
    margin-top: 15px;
    text-align: center;
}

.login-link {
    font-size: 15px;
    color: rgba(0, 0, 0, 0.5);
}

.login-link:hover {
    text-decoration: underline;
}


/*КАРТИНКА*/
.login-placeholder {
    width: 260px;
    height: 260px;
    background: #ccc;
}
