.content-wrap {
    padding-bottom: 90px;
    display: grid;
    grid-template-columns: 202px 1fr;
    gap: 24px;
    align-items: start;
}

.content__left {
    margin-top: 60px;
}

.content__content {
    margin-top: 20px;
}

.content-title {
    font-size: 25px;
    font-weight: 700;
}


